<div class="table-content rounded h-fix">
  <div class="col-xs-12">
    <h6 class="br-section-label tx-green"><i class="fa fa-calendar-check-o"></i> Recent
      Activity</h6>
  </div>
  <div class="col-xs-12">
    <div [hidden]="activities.length > 0 || isLoading"> No recent activity</div>
    <i [hidden]="!isLoading" class="fa fa-spinner fa-spin" style="font-size: 30px;
      position: absolute;
      top: 20px;
      right:20px;color: #03aba7">
    </i>
    <div class="bd-gray-300 table-responsive table-recent" [hidden]="!activities || activities.length === 0">
      <table class="table table-hover mg-b-0 table-fix">
        <tbody>
          <tr *ngFor="let activity of activities" (click)="showModal(activity)">
            <td width="50%" class="hidden-mob">
                <div class="date-month">{{activity.fullTime}}</div>
            </td>
            <td class="round">
                <i class="tx-btc tx-20"><img [src]="activity.isSend ? '../assets/icons/send.svg' : '../assets/icons/receive.svg'" alt=""></i>
            </td>
            <td width="40%" class="tx-left">
              <p class="mg-b-0 tx-inverse tx-medium tx-btc">
                {{ activity.isSend ? 'Sent' : 'Received'}} {{activity.networkName}}
              </p>
              <span class="d-block tx-13 hidden-mob">{{ activity.isSend ? 'To' : 'From'}} {{activity.networkName}} address</span>
            </td>
            <td width="40%" class="tx-right">
              <p [class]="activity.isSend ? 'mg-b-0 tx-inverse tx-medium tx-red' : 'mg-b-0 tx-inverse tx-medium tx-green'">{{ activity.isSend ? '-' : '+'}}{{activity.amount}} {{activity.symbol}}</p>
              <span class="d-block tx-13 tx-grey">{{ activity.isSend ? '-' : '+'}}${{activity.value}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- bd -->
  </div>
  <!-- Tab panes -->

  <div class="view-acc">
    <a href="/account"><span>View your accounts</span></a>
  </div>
</div>

<ngx-smart-modal #modalActivityDetail [identifier]="'modalActivityDetail'">
  <activity-detail [activity]="activity"></activity-detail>
</ngx-smart-modal>