<div class="table-content rounded h-fix">
  <div class="col-xs-12">
    <h6 class="br-section-label">Recent Activity</h6>
  </div>
  <div class="col-xs-12">
    <div class="bd-gray-300 table-responsive table-recent">
      <table class="table table-hover mg-b-0 table-fix">
        <tbody>
          <tr *ngFor="let activity of activities" (click)="showModal(activity)">
            <td width="10" class="hidden-mob">
              {{activity.month}}
              {{activity.day}}
            </td>
            <td class="round">
              <i [class]="activity.isSend ? 'icon ion-arrow-up-a tx-btc' : 'icon ion-arrow-down-a tx-btc'"></i>
            </td>
            <td width="40%" class="tx-left">
              <p class="mg-b-0 tx-inverse tx-medium tx-btc">
                {{ activity.isSend ? 'Sent' : 'Received'}} {{activity.networkName}}
              </p>
              <span class="d-block tx-13 hidden-mob">{{ activity.isSend ? 'To' : 'From'}} {{activity.networkName}} address</span>
            </td>
            <td width="40%" class="tx-right">
              <p class="mg-b-0 tx-inverse tx-medium">{{ activity.isSend ? '-' : '+'}}{{activity.amount}} {{activity.symbol}}</p>
              <span class="d-block tx-13 tx-grey">{{ activity.isSend ? '-' : '+'}}${{activity.value}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- bd -->
  </div>
  <!-- Tab panes -->

  <div class="view-acc">
    <a href="/account"><span>View your accounts</span></a>
  </div>
</div>

<ngx-smart-modal #modalActivityDetail [identifier]="'modalActivityDetail'">
  <activity-detail [activity]="activity"></activity-detail>
</ngx-smart-modal>