<h6 class="br-section-label tx-green"><i class="fa fa-mobile"></i> Two-Factor
  Authentication</h6>
<hr>
<div class="row mg-x-0">
  <label class="col-sm-4 form-control-label"> Custom your two-factor method:</label>
  <div class="col-sm-8 mg-l-auto">
    <div class="form-layout-footer">
      <app-custom-two-factor-authenticate
        [hidden]="mAccount.isTwoFactor !== 0"></app-custom-two-factor-authenticate>
      <app-custom-two-factor-authenticate-with-google-authenticate
        [hidden]="mAccount.isTwoFactor !== 1"></app-custom-two-factor-authenticate-with-google-authenticate>
      <app-custom-two-factor-authenticate-with-sms
        [hidden]="mAccount.isTwoFactor !== 2"></app-custom-two-factor-authenticate-with-sms>
    </div>
  </div>
</div>
<twofa-options [hidden]="mAccount.isTwoFactor === 0"></twofa-options>
