<div class="modal-body tx-center pd-y-10 pd-x-10">
  <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
  <h4 class="tx-danger tx-semibold mg-b-20">Are You Sure?</h4>
  <p class="mg-b-20 mg-x-20">Deactive your account.</p>
  <div class="form-group mg-t-10">
    <label class="col-sm-4 form-control-label"> Your password:<i class="tx-danger">*</i></label>
    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
      <input 
      #password
      (keyup)="onPassword($event)" 
      type="password" class="form-control">
    </div>
    <message-error-input [message]='messageErrorPassword'></message-error-input>
  </div>
</div><!-- modal-body -->
<div class="modal-footer step">
  <button 
    (click)="cancel()" 
    type="button" 
    class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Cancel
  </button>
  <button 
    (click)="onUpdate()" 
    [disabled]="!isChange||!isValid||isLoading" 
    type="button" 
    class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-t-20">Continue
    <loading-button [isLoading]='isLoading'></loading-button>
  </button>
</div>