<div class="row-sm mg-t-20">
  <div class="width-half">
    <h6 class="br-section-label">Active Sessions</h6>
  </div>
</div>
<div class="clear-both"></div>
<hr>
<h5 class="mg-t-20 tx-green tx-15">Web Sessions</h5>
<h6 class="grey tx-left tx-14"> These sessions are currently signed in to your account. Sign out all other
  sessions</h6>
<div class="bd bd-gray-300 table-responsive table-add mg-t-20">
  <table class="table table-hover mg-b-0">
    <thead>
      <tr>
        <th>Signed In</th>
        <th>Browser</th>
        <th>IP Address</th>
        <th>Near</th>
        <th>Current</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-add-body">
      <tr>
        <td>8 days ago</td>
        <td>Chrome (Windows)</td>
        <td>123.24.172.65</td>
        <td>Vietnam, Hanoi</td>
        <td><i class="fa fa-check tx-13 tx-grey"></i></td>
        <td><a href="#"><i class="fa fa-times tx-13 tx-grey"></i></a></td>
      </tr>
      <tr>
        <td>8 days ago</td>
        <td>Chrome (Windows)</td>
        <td>123.24.172.65</td>
        <td>Vietnam, Hanoi</td>
        <td></td>
        <td><a href="#"><i class="fa fa-times tx-13 tx-grey"></i></a></td>
      </tr>
    </tbody>
  </table>
</div><!-- bd -->