<div class="row-sm">
  <div class="width-half">
    <h6 class="br-section-label tx-green"><i class="fa fa-key"></i> API Keys</h6>
  </div>
  <div class="width-half">
    <app-new-api-key></app-new-api-key>
  </div>
</div>
<div class="clear-both"></div>
<hr>
<h5 class="dont mg-t-20"><i class="fa fa-info-circle tx-medium"></i>
  You haven't created any API keys yet.
</h5>
<h6 class="grey tx-left tx-14">
  API keys allow you to perform automated actions on your account with your
  own software.
</h6>
<app-list-api-keys></app-list-api-keys>