<div class="br-mainpanel">
  <div class="br-pagebody">
    <div class="row row-sm mg-t-20">
      <div class="col-xl-6 mg-t-20">
        <form class="form-layout bg-white rounded balance">
          <app-preference [mAccount]='mAccount'></app-preference>
        </form><!-- form-layout -->
      </div><!-- col-6 -->
      <div class="col-xl-6 mg-t-20">
        <form class="form-layout bg-white rounded balance">
          <app-notification [mAccount]='mAccount'></app-notification>
        </form><!-- form-layout -->
      </div><!-- col-6 -->
    </div><!-- row -->
  </div><!-- br-section-wrapper -->
</div><!-- br-mainpanel -->
<div class="clear-both"></div>