<h6 class="br-section-label tx-green"><i class="fa fa-lock"></i> Change Password</h6>
<hr>
<div class="row mg-t-20 mg-x-0">
  <label class="col-sm-4 form-control-label"> Change your current Password:</label>
  <div class="col-sm-8 mg-l-auto">
    <div class="form-layout-footer">
      <!-- <a (click)="showModalChangePassword()" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">
        Change Password
      </a> -->
      <a (click)="redirectPage()" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">
        Change Password
      </a>
    </div><!-- form-layout-footer -->
  </div><!-- col-8 -->
</div>

<ngx-smart-modal #changePasswordModal [identifier]="'changePasswordModal'">
  <form class="modal-content bd-0 tx-14">
    <div class="modal-header pd-y-20 pd-x-25">
      <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Change Password</h6>
    </div>
    <div class="modal-body pd-25">
      <div class="row">
        <label class="col-sm-12 form-control-label">
          Old Password:<i class="tx-danger">*</i>
        </label>
        <div class="col-sm-12 mg-t-10 mg-sm-t-0">
          <input #password (keyup)="onPassword($event)" type="password" class="form-control">
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-12 form-control-label">
          New Password:<i class="tx-danger">*</i>
        </label>
        <div class="col-sm-12 mg-t-10 mg-sm-t-0">
          <input #passwordNew (keyup)="onPasswordNew($event)" type="password" class="form-control">
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-12 form-control-label"> Confirm New Password:<i class="tx-danger">*</i></label>
        <div class="col-sm-12 mg-t-10 mg-sm-t-0">
          <input #passwordConfirm (keyup)="onPasswordConfirm($event)" type="password" class="form-control">
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-12 form-control-label">
          Enter the 2-step verification code provided by SMS to your phone:<i class="tx-danger">*</i>
        </label>
        <div class="col-sm-12 mg-t-10 mg-sm-t-0">
          <div class="input-group sms">
            <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0 op-6"></i></span>
            <input #phone (keyup)="onPhone($event)" type="text" class="form-control fc-outline-white half" maxlength="6"
              placeholder="000000">
          </div>
          <span class="resend">Didn't receive the verification code? <br> <a href="#">Re-send SMS</a></span>
        </div>
      </div><!-- row -->
    </div>
    <div class="modal-footer step">
      <button (click)="changePasswordModal.close()" type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Close</button>
      <a (click)="onUpdate()" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Change</a>
    </div>
  </form>
</ngx-smart-modal>