<div class="br-pagebody">
  <div class="row row-sm mg-t-20">
    <div class="col-xl-12 bg-white mg-t-20 rounded">
      <form class="form-layout">
        <app-change-password></app-change-password>
        <app-lock-screen></app-lock-screen>
        <div class="mg-t-20">
          <app-two-factor-authentication></app-two-factor-authentication>
        </div><!-- form-layout -->
        <app-close-account></app-close-account>
      </form><!-- form-layout -->
    </div><!-- col-6 -->
  </div><!-- row -->
</div><!-- br-section-wrapper -->
<div class="clear-both"></div>