<div class="br-pagebody">
  <div class="row row-sm mg-t-20">
    <div class="col-xl-12 bg-white mg-t-20 rounded">
      <form class="form-layout">
        <app-change-password></app-change-password>
        <div class="mg-t-20">
          <app-two-factor-authentication></app-two-factor-authentication>          
          <div class="row mg-t-30 mg-x-0">
            <label class="col-sm-4 form-control-label"> Require verification code to send:</label>
            <div class="col-sm-8 mg-l-auto">
              <label class="rdiobox">
                <input name="radio" type="radio">
                <span>Any amount of digital currency — <i class="tx-green tx-bold">Most secure</i></span>
              </label>
              <label class="rdiobox">
                <input name="radio" type="radio">
                <span>Over 1.2000 BTC (42.7655 ETH) per day </span>
              </label>
              <label class="rdiobox">
                <input name="radio" type="radio">
                <span>Never — <i class="tx-red tx-bold">Least secure</i></span>
              </label>
              <div class="form-layout-footer">
                <button class="btn bg-green" type="submit">Save</button>
              </div>
            </div><!-- col-8 -->
          </div><!-- row -->
        </div><!-- form-layout -->

        <div class="row-sm mg-t-20">
          <div class="width-half">
            <h6 class="br-section-label">Active Sessions</h6>
          </div>
        </div>
        <div class="clear-both"></div>
        <hr>
        <h5 class="mg-t-20 tx-green tx-15">Web Sessions</h5>
        <h6 class="grey tx-left tx-14"> These sessions are currently signed in to your account. Sign out all other
          sessions</h6>
        <div class="bd bd-gray-300 table-responsive table-add mg-t-20">
          <table class="table table-hover mg-b-0">
            <thead>
              <tr>
                <th>Signed In</th>
                <th>Browser</th>
                <th>IP Address</th>
                <th>Near</th>
                <th>Current</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-add-body">
              <tr>
                <td>8 days ago</td>
                <td>Chrome (Windows)</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td><i class="fa fa-check tx-13 tx-grey"></i></td>
                <td><a href="#"><i class="fa fa-times tx-13 tx-grey"></i></a></td>
              </tr>
              <tr>
                <td>8 days ago</td>
                <td>Chrome (Windows)</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td></td>
                <td><a href="#"><i class="fa fa-times tx-13 tx-grey"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div><!-- bd -->
        <h5 class="mg-t-20 tx-green tx-15 mg-t-20">Account Activity</h5>
        <h6 class="grey tx-left tx-14">Recent activity on your account.</h6>
        <div class="bd bd-gray-300 table-responsive table-add mg-t-20">
          <table class="table table-hover mg-b-0">
            <thead>
              <tr>
                <th>Action</th>
                <th>Source</th>
                <th>IP Address</th>
                <th>Location</th>
                <th>When</th>
              </tr>
            </thead>
            <tbody class="table-add-body">
              <tr>
                <td>phone added</td>
                <td>web</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td>about 3 hours ago</td>
              </tr>
              <tr>
                <td>phone added</td>
                <td>web</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td>about 3 hours ago</td>
              </tr>
              <tr>
                <td>phone added</td>
                <td>web</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td>about 3 hours ago</td>
              </tr>
              <tr>
                <td>phone added</td>
                <td>web</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td>about 3 hours ago</td>
              </tr>
              <tr>
                <td>phone added</td>
                <td>web</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td>about 3 hours ago</td>
              </tr>
              <tr>
                <td>phone added</td>
                <td>web</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td>about 3 hours ago</td>
              </tr>
              <tr>
                <td>phone added</td>
                <td>web</td>
                <td>123.24.172.65</td>
                <td>Vietnam, Hanoi</td>
                <td>about 3 hours ago</td>
              </tr>
            </tbody>
          </table>
        </div><!-- bd -->
        <div class="ht-80 d-flex align-items-center justify-content-center mg-t-20">
          <ul class="pagination pagination-basic pagination-rounded mg-b-0">
            <li class="page-item hidden-xs-down">
              <a class="page-link" href="#" aria-label="First"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item hidden-xs-down"><a class="page-link" href="#">3</a></li>
            <li class="page-item hidden-xs-down"><a class="page-link" href="#">4</a></li>
            <li class="page-item disabled"><span class="page-link">...</span></li>
            <li class="page-item"><a class="page-link" href="#">10</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a>
            </li>
            <li class="page-item hidden-xs-down">
              <a class="page-link" href="#" aria-label="Last"><i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>

        <div class="mg-t-30">
          <h6 class="br-section-label">Close Account</h6>
          <hr>
          <div class="row mg-x-0">
            <label class="col-sm-4 form-control-label"> Withdraw funds and close your VakaPay account - <i class="tx-red tx-bold">this
                cannot be undone</i> </label>
            <div class="col-sm-8 mg-l-auto">
              <div class="form-layout-footer">
                <a href="#" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-toggle="modal"
                  data-target="#modaldemo4">Close
                  Account
                </a>
              </div><!-- form-layout-footer -->
            </div><!-- col-8 -->
          </div><!-- row -->
        </div>
      </form><!-- form-layout -->
    </div><!-- col-6 -->
  </div><!-- row -->
</div><!-- br-section-wrapper -->

<div class="clear-both"></div>

<div id="modaldemo1x" class="modal fade">
  <div class="modal-dialog modal-dialog-vertical-center" role="document">
    <form class="modal-content bd-0 tx-14">
      <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Change Password</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <div class="row">
          <label class="col-sm-12 form-control-label"> Old Password:<i class="tx-danger">*</i></label>
          <div class="col-sm-12 mg-t-10 mg-sm-t-0">
            <input type="password" class="form-control" placeholder="" required>
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-12 form-control-label"> New Password:<i class="tx-danger">*</i></label>
          <div class="col-sm-12 mg-t-10 mg-sm-t-0">
            <input type="password" class="form-control" placeholder="" required>
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-12 form-control-label"> Confirm New Password:<i class="tx-danger">*</i></label>
          <div class="col-sm-12 mg-t-10 mg-sm-t-0">
            <input type="password" class="form-control" placeholder="" required>
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-12 form-control-label"> Enter the 2-step verification code provided by SMS to your
            phone:<i class="tx-danger">*</i></label>
          <div class="col-sm-12 mg-t-10 mg-sm-t-0">
            <div class="input-group sms">
              <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0 op-6"></i></span>
              <input id="phoneMask" type="text" class="form-control fc-outline-white half" maxlength="7" placeholder="0000000">
            </div>
            <span class="resend">Didn't receive the verification code? <br> <a href="#">Re-send SMS</a></span>
          </div>
        </div><!-- row -->
      </div>
      <div class="modal-footer step">
        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
          data-dismiss="modal">Close</button>
        <a href="#" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-toggle="modal"
          data-dismiss="modal" data-target="#modaldemo1y">Change</a>
      </div>
    </form>
  </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="modaldemo1y" class="modal fade">
  <div class="modal-dialog modal-dialog-vertical-center" role="document">
    <form class="modal-content bd-0 tx-14">
      <div class="modal-body pd-25">
        <div class="row">
          <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block tx-center wd100 tx-medium"
            style="margin:0 auto;"></i>
          <h5 class="check tx-success tx-15 tx-center wd100">You successfully to change your current password!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-auto mg-r-auto"
          data-dismiss="modal">Close</button>
      </div>
    </form>
  </div><!-- modal-dialog -->
</div><!-- modal -->
<div id="modaldemo1" class="modal fade">
  <div class="modal-dialog modal-dialog-vertical-center" role="document">
    <form class="modal-content bd-0 tx-14">
      <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Phone Number</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <div class="row">
          <label class="col-sm-12 form-control-label"> Enter the 2-step verification code provided by SMS to your
            phone:<i class="tx-danger">*</i></label>
          <div class="col-sm-12 mg-t-10 mg-sm-t-0">
            <div class="input-group sms">
              <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0 op-6"></i></span>
              <input id="phoneMask" type="text" class="form-control fc-outline-white half" maxlength="7" placeholder="0000000">
            </div>
            <span class="resend">Didn't receive the verification code? <br> <a href="#">Re-send SMS</a></span>
          </div>
        </div><!-- row -->
      </div>
      <div class="modal-footer step">
        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
          data-dismiss="modal">Cancel</button>
        <a href="#" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-toggle="modal"
          data-dismiss="modal" data-target="#modaldemo2">+ Verify A Phone</a>
      </div>
    </form>
  </div><!-- modal-dialog -->
</div><!-- modal -->


<div id="modaldemo2" class="modal fade">
  <div class="modal-dialog modal-dialog-vertical-center" role="document">
    <form class="modal-content bd-0 tx-14">
      <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Verify Phone Number</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <div class="form-group mg-md-l--1 bd-t-0-force">
          <label class="form-control-label mg-b-0-force">Country:</label>
          <select id="select2-a" class="form-control" data-placeholder="Choose country" tabindex="-1" aria-hidden="true">
            <option label="Choose country"></option>
            <option value="USA" selected="">United States of America</option>
            <option value="UK">United Kingdom</option>
            <option value="China">China</option>
            <option value="Japan">Japan</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-control-label mg-b-0-force">Your Phone Number:</label>
          <div class="input-number">
            <div class="input-left"><span color="slate">+213</span></div>
            <div class="input-right"><input class="form-control fc-outline-white" placeholder="" maxlength="15"></div>
          </div>
        </div><!-- form-group -->
      </div>
      <div class="modal-footer step">
        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
          data-dismiss="modal">Close</button>
        <a href="#" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-toggle="modal"
          data-dismiss="modal" data-target="#modaldemo3"> Next
        </a>
      </div>
    </form>
  </div><!-- modal-dialog -->
</div><!-- modal -->

<div id="modaldemo3" class="modal fade">
  <div class="modal-dialog modal-dialog-vertical-center" role="document">
    <form class="modal-content bd-0 tx-14">
      <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Verify Phone Number</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <div class="row">
          <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block tx-center wd100 tx-medium"
            style="margin:0 auto;"></i>
          <h5 class="check tx-success tx-15 tx-center wd100">We just sent an SMS to +xx x xxxxxx87 with your
            verification
            code. It may take several seconds to arrive.</h5>
        </div>
        <hr>
        <div class="row mg-t-20">
          <label class="col-sm-12 form-control-label"> Enter the 2-step verification code provided by SMS to your
            phone:<i class="tx-danger">*</i></label>
          <div class="col-sm-12 mg-t-10 mg-sm-t-0">
            <div class="input-group sms">
              <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0 op-6"></i></span>
              <input id="phoneMask" type="text" class="form-control fc-outline-white half" maxlength="7" placeholder="0000000">
            </div>
            <span class="resend">Didn't receive the verification code? <br> <a href="#">Re-send SMS</a></span>
          </div>
        </div><!-- row -->
      </div>
      <div class="modal-footer step">
        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
          data-dismiss="modal">Cancel</button>
        <a href="#" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Verify</a>
      </div>
    </form>
  </div><!-- modal-dialog -->
</div><!-- modal -->


<div id="modaldemo4" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
        <h4 class="tx-danger  tx-semibold mg-b-20">Are You Sure?</h4>
        <p class="mg-b-20 mg-x-20">This permanently delete your account, and cannot be undone.</p>
        <hr>
        <div class="row mg-t-20">
          <label class="col-sm-12 form-control-label"> Enter the 2-step verification code provided by SMS to your
            phone:<i class="tx-danger">*</i></label>
          <div class="col-sm-12 mg-t-10 mg-sm-t-0">
            <div class="input-group sms">
              <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0 op-6"></i></span>
              <input id="phoneMask" type="text" class="form-control fc-outline-white half" maxlength="7" placeholder="0000000">
            </div>
            <span class="resend">Didn't receive the verification code? <br> <a href="#">Re-send SMS</a></span>
          </div>
        </div><!-- row -->
        <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 mg-t-20"
          data-dismiss="modal" aria-label="Close">
          Continue</button>
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div>
</div>