 <div class="row-sm">
  <div class="width-half">
    <h6 class="br-section-label tx-green"><i class="fa fa-credit-card"></i>
      Buy Widgets</h6>
  </div>
  <div class="width-half">
    <a href="widget.html" class="btn addnew bg-green"> + New Buy Widget</a>
  </div>
</div>
<div class="clear-both"></div>
<hr>
<h5 class="dont mg-y-20"><i class="fa fa-info-circle tx-medium"></i> You don't
  have any buy widgets set
  up yet.
</h5>
<div class="bd bd-gray-300 table-responsive table-add">
  <table class="table table-hover mg-b-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Domain</th>
        <th>Currency</th>
        <th>Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-add-body">
      <tr>
        <td>Vaka <span class="btn btn-warning verified">Not Active</span></td>
        <td>https://jdcoinhk.com</td>
        <td>ETH</td>
        <td>e51eaba0-c004-5516-bfc9-7966bbfe08cf</td>
        <td class="tx-right">
          <a href="widget.html"><span class="btn btn-secondary verified"><i
                class="fa fa-pencil tx-13 tx-white"></i>
              Edit</span></a>
          <span class="btn btn-secondary verified" data-toggle="modal"
            data-target="#modaldemo5"><i class="fa fa-trash tx-13 tx-white"></i>
            Delete</span>
        </td>
      </tr>
      <tr>
        <td>Vaka <span class="btn btn-info verified">Active</span></td>
        <td>https://jdcoinhk.com</td>
        <td>ETH</td>
        <td>e51eaba0-c004-5516-bfc9-7966bbfe08cf</td>
        <td class="tx-right">
          <a href="widget.html"><span class="btn btn-secondary verified"><i
                class="fa fa-pencil tx-13 tx-white"></i>
              Edit</span></a>
          <span class="btn btn-secondary verified" data-toggle="modal"
            data-target="#modaldemo5"><i class="fa fa-trash tx-13 tx-white"></i>
            Delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</div><!-- bd -->
<div class="ht-80 d-flex align-items-center justify-content-center mg-t-20">
  <ul class="pagination pagination-basic pagination-rounded mg-b-0">
    <li class="page-item hidden-xs-down">
      <a class="page-link" href="#" aria-label="First"><i class="fa
          fa-angle-double-left"></i></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous"><i class="fa
          fa-angle-left"></i></a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item hidden-xs-down"><a class="page-link" href="#">3</a></li>
    <li class="page-item hidden-xs-down"><a class="page-link" href="#">4</a></li>
    <li class="page-item disabled"><span class="page-link">...</span></li>
    <li class="page-item"><a class="page-link" href="#">10</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next"><i class="fa
          fa-angle-right"></i></a>
    </li>
    <li class="page-item hidden-xs-down">
      <a class="page-link" href="#" aria-label="Last"><i class="fa
          fa-angle-double-right"></i></a>
    </li>
  </ul>
</div>