  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel">
    <div class="br-pagebody">
      <div class="row row-sm mg-t-20">
        <div class="col-xl-12 bg-white mg-t-20">
          <form class="form-layout">
            <div class="row-sm">
              <div class="width-half">
                <h6 class="br-section-label">Your Account</h6>
              </div>
              <div class="width-half">
                <a href="#" class="btn addnew bg-green" data-toggle="modal" data-target="#modaldemo5"> + New Account</a>
              </div>
            </div>
            <div class="clear-both"></div>
            <div class="row row-sm tab-account mg-t-20">
              <div class="col-xl-12 tab-left">
                <div class="tab-left-top nav" role="tablist">
                  <div class="active show d-table-cell" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">
                    <div class="bg-white border">
                      <div class="pd-x-10 pd-t-10 d-flex align-items-center">
                        <i class="icon tx-60 lh-0 tx-white op-7 mg-r-10"><img src="../assets/icons/icon-vkc.svg" alt=""></i>
                        <div class="mg-r-20 width-text">
                          <p class="tx-15 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-vkc mg-b-0">VKC Wallet</p>
                          <p class="tx-14 tx-grey tx-lato tx-bold mg-b-0 lh-1">0.00005 VKC</p>
                          <div class="pd-t-10 pd-b-10 d-flex align-items-center">
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo3"><i class="fa fa-send mg-r-3"></i>Send</a>
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo2"><i class="fa fa-arrow-circle-down mg-r-3"></i>Receive
                            </a>
                            <div class="dropdown">
                              <a href="#" onclick="myFunction1()" class="dropbtn btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10"><i
                                  class="fa fa-cog"></i>
                              </a>
                              <div id="myDropdown1" class="dropdown-content2 rounded">
                                <a href="#" data-toggle="modal" data-target="#modaldemo9"><i class="fa fa-exchange tx-13 mg-r-5"></i>Transfer</a>
                                <a href="#" data-toggle="modal" data-target="#modaldemo10"><i class="fa fa-ban tx-13 mg-r-5"></i>Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-table-cell" data-toggle="tab" href="#tab1b" role="tab" aria-selected="false">
                    <div class="bg-white border">
                      <div class="pd-x-10 pd-t-10 d-flex align-items-center">
                        <i class="icon tx-60 lh-0 tx-white op-7 mg-r-10"><img src="../assets/icons/icon-vkc.svg" alt=""></i>
                        <div class="mg-r-20 width-text">
                          <p class="tx-15 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-vkc mg-b-0">VKC Vault</p>
                          <p class="tx-14 tx-grey tx-lato tx-bold mg-b-0 lh-1">0.00005 VKC</p>
                          <div class="pd-t-10 pd-b-10 d-flex align-items-center">
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo7"><i class="fa fa-download mg-r-3"></i>Deposit</a>
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo8"><i class="fa fa-upload mg-r-3"></i>Withdraw
                            </a>
                            <div class="dropdown">
                              <a href="#" onclick="myFunction2()" class="dropbtn btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10"><i
                                  class="fa fa-cog"></i>
                              </a>
                              <div id="myDropdown2" class="dropdown-content2 rounded">
                                <a href="#" data-toggle="modal" data-target="#modaldemo12"><i class="fa fa-info-circle tx-13 mg-r-5"></i>Vault
                                  Details
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- col-3 -->
                  <div class="d-table-cell" data-toggle="tab" href="#tab2" role="tab">
                    <div class="bg-white border">
                      <div class="pd-x-10 pd-t-10 d-flex align-items-center">
                        <i class="icon tx-60 lh-0 tx-white op-7 mg-r-10"><img src="../assets/icons/icon-btc.svg" alt=""></i>
                        <div class="mg-r-20 width-text">
                          <p class="tx-15 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-btc mg-b-0">BitCoin</p>
                          <p class="tx-14 tx-grey tx-lato tx-bold mg-b-0 lh-1">0.0000 BTC</p>
                          <div class="pd-t-10 pd-b-10 d-flex align-items-center">
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo3"><i class="fa fa-send mg-r-3"></i>Send</a>
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo2"><i class="fa fa-cart-arrow-down mg-r-3"></i>Receive
                            </a>
                            <div class="dropdown">
                              <a href="#" onclick="myFunction3()" class="dropbtn btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10"><i
                                  class="fa fa-cog"></i>
                              </a>
                              <div id="myDropdown3" class="dropdown-content2 rounded">
                                <a href="#" data-toggle="modal" data-target="#modaldemo9"><i class="fa fa-exchange tx-13 mg-r-5"></i>Transfer</a>
                                <a href="#" data-toggle="modal" data-target="#modaldemo10"><i class="fa fa-ban tx-13 mg-r-5"></i>Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- col-3 -->
                  <div class="d-table-cell" data-toggle="tab" href="#tab3" role="tab">
                    <div class="bg-white border">
                      <div class="pd-x-10 pd-t-10 d-flex align-items-center">
                        <i class="icon tx-60 lh-0 tx-white op-7 mg-r-10"><img src="../assets/icons/icon-eth.svg" alt=""></i>
                        <div class="mg-r-20 width-text">
                          <p class="tx-15 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-eth mg-b-0">Ethereum</p>
                          <p class="tx-14 tx-grey tx-lato tx-bold mg-b-0 lh-1">521,152 ETH</p>
                          <div class="pd-t-10 pd-b-10 d-flex align-items-center">
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo3"><i class="fa fa-send mg-r-3"></i>Send</a>
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo2"><i class="fa fa-cart-arrow-down mg-r-3"></i>Receive
                            </a>
                            <div class="dropdown">
                              <a href="#" onclick="myFunction4()" class="dropbtn btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10"><i
                                  class="fa fa-cog"></i>
                              </a>
                              <div id="myDropdown4" class="dropdown-content2 rounded">
                                <a href="#" data-toggle="modal" data-target="#modaldemo9"><i class="fa fa-exchange tx-13 mg-r-5"></i>Transfer</a>
                                <a href="#" data-toggle="modal" data-target="#modaldemo10"><i class="fa fa-ban tx-13 mg-r-5"></i>Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- col-3 -->
                  <div class="d-table-cell" data-toggle="tab" href="#tab4" role="tab">
                    <div class="bg-white border">
                      <div class="pd-x-10 pd-t-10 d-flex align-items-center">
                        <i class="icon tx-60 lh-0 tx-white op-7 mg-r-10"><img src="../assets/icons/icon-eos.svg" alt=""></i>
                        <div class="mg-r-20 width-text">
                          <p class="tx-15 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-eos mg-b-0">EOS</p>
                          <p class="tx-14 tx-grey tx-lato tx-bold mg-b-0 lh-1">0.0000 EOS</p>
                          <div class="pd-t-10 pd-b-10 d-flex align-items-center">
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo3"><i class="fa fa-send mg-r-3"></i>Send</a>
                            <a href="#" class="btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10 mg-r-5"
                              data-toggle="modal" data-target="#modaldemo2"><i class="fa fa-cart-arrow-down mg-r-3"></i>Receive
                            </a>
                            <div class="dropdown">
                              <a href="#" onclick="myFunction5()" class="dropbtn btn btn-trans tx-grey tx-11 tx-uppercase pd-y-7 pd-x-10 tx-mont tx-medium mg-t-10"><i
                                  class="fa fa-cog"></i>
                              </a>
                              <div id="myDropdown5" class="dropdown-content2 rounded">
                                <a href="#" data-toggle="modal" data-target="#modaldemo9"><i class="fa fa-exchange tx-13 mg-r-5"></i>Transfer</a>
                                <a href="#" data-toggle="modal" data-target="#modaldemo10"><i class="fa fa-ban tx-13 mg-r-5"></i>Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 tab-content tab-right">
                <div class="table-content border tab-pane active show" id="tab1" role="tabpanel">
                  <div class="col-xs-12">
                    <h6 class="br-section-label col-md-8 col-sm-12">Transactions</h6>
                    <div class="col-md-4 col-sm-12 pd-r-0">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                          <button class="btn bd bg-white tx-gray-600" type="button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="clear-both"></div>
                  <div class="col-xs-12">
                    <div class="bd-gray-300 table-responsive table-recent-acc">
                      <table class="table table-hover mg-b-0 table-fix">
                        <tbody>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Aug</div>
                              <div class="date-day">25</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/receive.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-vkc">Received VakaCoin</p>
                              <span class="d-block tx-13 hidden-mob">From VakaCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1800 VKC</p>
                              <span class="d-block tx-13 tx-grey">+₫258,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Sep</div>
                              <div class="date-day">10</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/send.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-vkc">Send VakaCoin</p>
                              <span class="d-block tx-13 hidden-mob">From VakaCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1000 VKC</p>
                              <span class="d-block tx-13 tx-grey">+₫456,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Aug</div>
                              <div class="date-day">25</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/receive.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-vkc">Received VakaCoin</p>
                              <span class="d-block tx-13 hidden-mob">From VakaCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1800 VKC</p>
                              <span class="d-block tx-13 tx-grey">+₫258,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Aug</div>
                              <div class="date-day">25</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/receive.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-vkc">Received VakaCoin</p>
                              <span class="d-block tx-13 hidden-mob">From VakaCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1800 VKC</p>
                              <span class="d-block tx-13 tx-grey">+₫258,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Sep</div>
                              <div class="date-day">10</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/send.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-vkc">Send VakaCoin</p>
                              <span class="d-block tx-13 hidden-mob">From VakaCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1000 VKC</p>
                              <span class="d-block tx-13 tx-grey">+₫456,476.00</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- bd -->
                    <div class="ht-80 d-flex align-items-center justify-content-center mg-t-20">
                      <ul class="pagination pagination-basic pagination-rounded mg-b-0">
                        <li class="page-item hidden-xs-down">
                          <a class="page-link" href="#" aria-label="First"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item hidden-xs-down"><a class="page-link" href="#">3</a></li>
                        <li class="page-item hidden-xs-down"><a class="page-link" href="#">4</a></li>
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li class="page-item hidden-xs-down">
                          <a class="page-link" href="#" aria-label="Last"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Tab panes -->
                </div>
                <div class="table-content border tab-pane" id="tab1b" role="tabpanel">
                  <div class="col-xs-12">
                    <h6 class="br-section-label col-md-8 col-sm-12">Transactions</h6>
                    <div class="col-md-4 col-sm-12 pd-r-0">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                          <button class="btn bd bg-white tx-gray-600" type="button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="clear-both"></div>
                  <div class="col-xs-12">
                    <div class="bd-gray-300 table-responsive table-recent-acc">
                      <table class="table table-hover mg-b-0 table-fix">
                        <tbody>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Aug</div>
                              <div class="date-day">25</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/receive.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-vkc">Received VakaCoin</p>
                              <span class="d-block tx-13 hidden-mob">From VakaCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1800 VKC</p>
                              <span class="d-block tx-13 tx-grey">+₫258,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Sep</div>
                              <div class="date-day">10</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/send.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-vkc">Send VakaCoin</p>
                              <span class="d-block tx-13 hidden-mob">From VakaCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1000 VKC</p>
                              <span class="d-block tx-13 tx-grey">+₫456,476.00</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- bd -->
                  </div>
                  <!-- Tab panes -->
                </div>
                <div class="table-content border tab-pane" id="tab2" role="tabpanel">
                  <div class="col-xs-12">
                    <h6 class="br-section-label">Recent Activity</h6>
                  </div>
                  <div class="col-xs-12">
                    <div class="bd-gray-300 table-responsive table-recent-acc">
                      <table class="table table-hover mg-b-0 table-fix">
                        <tbody>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Aug</div>
                              <div class="date-day">25</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/transfer.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-btc">Transferred BitCoin</p>
                              <span class="d-block tx-13 hidden-mob">From BitCoin Wallet</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1800 BTC</p>
                              <span class="d-block tx-13 tx-grey">+₫258,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Aug</div>
                              <div class="date-day">25</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/receive.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-btc">Received BitCoin</p>
                              <span class="d-block tx-13 hidden-mob">From BitCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">-5.2500 ETH</p>
                              <span class="d-block tx-13 tx-grey">-₫456,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Sep</div>
                              <div class="date-day">10</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/send.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-btc">Send BitCoin</p>
                              <span class="d-block tx-13 hidden-mob">From BitCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1000 BTC</p>
                              <span class="d-block tx-13 tx-grey">+₫456,476.00</span>
                            </td>
                          </tr>
                          <tr data-toggle="modal" data-target="#modaldemo1">
                            <td width="10" class="hidden-mob">
                              <div class="date-month">Aug</div>
                              <div class="date-day">25</div>
                            </td>
                            <td class="round">
                              <i class="tx-btc tx-20"><img src="../assets/icons/receive.svg" alt=""></i>
                            </td>
                            <td width="40%" class="tx-left">
                              <p class="mg-b-0 tx-inverse tx-medium tx-btc">Received BitCoin</p>
                              <span class="d-block tx-13 hidden-mob">From BitCoin address</span>
                            </td>
                            <td width="40%" class="tx-right">
                              <p class="mg-b-0 tx-inverse tx-medium">+0.1800 BTC</p>
                              <span class="d-block tx-13 tx-grey">+₫258,476.00</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- bd -->
                  </div>
                  <!-- Tab panes -->
                </div>
                <div class="table-content border tab-pane" id="tab3" role="tabpanel">
                  <div class="col-xs-12">
                    <h6 class="br-section-label">Recent Activity</h6>
                  </div>
                  <div class="col-xs-12">
                    <div class="no-tran table-recent-acc">
                      <div class="modal-body pd-x-20 pd-y-5 no-tran-box">
                        <i class="tx-medium tx-success lh-1 mg-t-20 d-inline-block tx-center img-center"><img src="../assets/icons/icon-eth.svg"
                            alt=""></i>
                        <h6 class="check tx-20 mg-b-0 mg-t-20">No transactions</h6>
                        <p class="mg-b-20 mg-x-20 tx-center">VakaPay is the easiest place to get started.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Tab panes -->
                </div>
                <div class="table-content border tab-pane" id="tab4" role="tabpanel">
                  <div class="col-xs-12">
                    <h6 class="br-section-label">Recent Activity</h6>
                  </div>
                  <div class="col-xs-12">
                    <div class="no-tran table-recent-acc">
                      <div class="modal-body pd-x-20 pd-y-5 no-tran-box">
                        <i class="tx-medium tx-success lh-1 mg-t-20 d-inline-block tx-center img-center"><img src="../assets/icons/icon-eos.svg"
                            alt=""></i>
                        <h6 class="check tx-20 mg-b-0 mg-t-20">No transactions</h6>
                        <p class="mg-b-20 mg-x-20 tx-center">VakaPay is the easiest place to get started.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Tab panes -->
                </div>
              </div><!-- br-section-wrapper -->
            </div>
            <!-- row -->
          </form>
        </div><!-- col-12 -->
      </div><!-- row -->
    </div><!-- br-section-wrapper -->
  </div><!-- br-mainpanel -->
  <div class="clear-both"></div>
  <!-- ########## END: MAIN PANEL ########## -->