<span class="btn btn-secondary verified" (click)="onShowModal()">
  <i class="fa fa-trash tx-13 tx-white"></i> Delete
</span>

<ngx-smart-modal #modal [identifier]="'modal'"
  (onClose)="service.currentId= ''">
  <div class="modal-body tx-center pd-y-20 pd-x-20">
    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20
      d-inline-block"></i>
    <h4 class="tx-danger tx-semibold mg-b-20">Are You Sure?</h4>
    <p class="mg-b-20 mg-x-20">
      This permanently delete your api key {{idDelete}}, and cannot be undone.
    </p>
    <button (click)="showModalDelete()" type="button" class="btn
      btn-danger
      tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont
      tx-medium mg-b-20">
      Continue</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #modalDelete [identifier]="'modalDelete'">
  <form class="modal-content bd-0 tx-14">
    <div class="modal-header pd-y-20 pd-x-25">
      <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
        <span>Delete</span> API Key </h6> {{idDelete}}
    </div>
    <div class="modal-body pd-25">
      <div class="row">
        <label class="col-sm-12 form-control-label">
          Enter the 2-step verification code provided by your authen app:
          <i class="tx-danger">*</i>
        </label>
        <div class="col-sm-12 mg-t-10 mg-sm-t-0">
          <div class="input-group sms">
            <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0
                op-6"></i></span>
            <input #code (keyup)="onCode($event)" type="text"
              class="form-control fc-outline-white half" maxlength="6"
              placeholder="000000">
          </div>
          <span class="resend">
            <message-error-input [message]='messageErrorCode'></message-error-input>
            <br>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer step">
      <button (click)="cancel()" type="button" class="btn btn-secondary tx-11
        tx-uppercase pd-y-12 pd-x-25
        tx-mont tx-medium">
        Cancel
      </button>
      <button (click)="verify()" [disabled]="!isValid||isLoading" class="btn
        bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">
        + Verify
        <loading-button [isLoading]='isLoading'></loading-button>
      </button>
    </div>
  </form>
</ngx-smart-modal>