<form class="modal-content bd-0 tx-14">
  <div class="modal-header pd-y-20 pd-x-25">
    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
      Enable Authenticator Support</h6>
  </div>
  <div class="modal-body pd-25">
    <div class="row">
      <label class="col-sm-12 form-control-label">
        Enter the 2-step verification code provided by SMS to your phone:
        <i class="tx-danger">*</i>
      </label>
      <div class="col-sm-12 mg-t-10 mg-sm-t-0">
        <div class="input-group sms">
          <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0
              op-6"></i></span>
          <input #code (keyup)="onCode($event)" type="text" class="form-control fc-outline-white half" maxlength="7"
            placeholder="0000000">
        </div>
        <span class="resend">
          <message-error-input [message]='messageErrorCode'></message-error-input>
          <br>
          Didn't receive the verification code? <br>
          <a class="resend-sms" (click)="requireSendCodePhone()">Re-send SMS</a>
        </span>
      </div>
    </div><!-- row -->
  </div>
  <div class="modal-footer step">
    <button (click)="cancel()" type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25
      tx-mont tx-medium">
      Cancel
    </button>
    <button (click)="onUpdate()" [disabled]="!isChange||!isValid||isLoading" class="btn bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">
      + Verify
      <loading-button [isLoading]='isLoading'></loading-button>
    </button>
  </div>
</form>