<div class="bg-white rounded overflow-hidden no-padding h-fix">
  <div class="pos-rel pd-20 d-inline-block">
    <div>
      <h6 class="br-section-label mg-b-0 tx-green"><i class="fa fa-money"></i> Your Portfolio Value</h6>
      <h4 class="tx-value">{{portfolioValue}}</h4>
    </div>
    <div class="col-12 chart mg-t-20 tab-content" [hidden]="!data || data.length === 0">
      <div [hidden]="data.length > 0 || isLoading">
        You don't have any.
      </div>
      <i [hidden]="!isLoading" class="fa fa-spinner fa-spin" style="font-size: 30px;
        position: absolute;
        top: 20px;
        right:20px;color: #03aba7">
      </i>
      <div [chart]="stock" style="height: 300px; width: 600px"></div>
    </div>
  </div>
</div>