<div class="header">
  <div class="br-header">
    <div class="br-header-left">
      <div id="logo-web"><a routerLink=""><img src="assets/images/logo/logo2.svg" alt=""></a></div>
      <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" routerLink=""><i class="icon ion-navicon-round"></i></a></div>
      <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" (click)="toggleMenu()"><i class="icon ion-navicon-round"></i></a></div>
    </div>
    <!-- br-header-left -->

    <div id="logo-mob"><a><img src="assets/images/logo/logo2.svg" alt=""></a></div>
    <div class="br-header-right">
      <nav class="nav">
        <div class="dropdown noti">
          <a href="#" class="nav-link pd-x-7 pos-relative tx-info" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-calendar-check-o tx-18 t-7"></i>
            <!-- start: if statement -->
            <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
            <!-- end: if statement -->
          </a>
          <div class="dropdown-menu dropdown-menu-header" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 52px, 0px); top: 0px; left: 0px; will-change: transform;">
            <div class="dropdown-menu-label">
              <label>Recent Activity</label>
            </div><!-- d-flex -->

            <div class="media-list">
              <!-- loop starts here -->
              <a href="/account" class="media-list-link read">
                <div class="media">
                  <img src="../assets/icons/receive.svg" alt="">
                  <div class="media-body">
                    <div>
                      <p>Received 52.1542 BitCoin</p>
                    </div><!-- d-flex -->
                    <span>2 minutes ago</span>
                  </div>
                </div><!-- media -->
              </a>
              <!-- loop ends here -->
              <a href="/account" class="media-list-link read">
                <div class="media">
                  <img src="../assets/icons/transfer.svg" alt="">
                  <div class="media-body">
                    <div>
                      <p>Transfer 1284.21 VakaCoin</p>
                    </div><!-- d-flex -->
                    <span>3 hours ago</span>
                  </div>
                </div><!-- media -->
              </a>
              <a href="/account" class="media-list-link read">
                <div class="media">
                  <img src="../assets/icons/send.svg" alt="">
                  <div class="media-body">
                    <div>
                      <p>Send 0.524 Ethereum</p>
                    </div><!-- d-flex -->
                    <span>5 hours ago</span>
                  </div>
                </div><!-- media -->
              </a>
              <a href="/account" class="media-list-link read">
                <div class="media">
                  <img src="../assets/icons/decline.svg" alt="">
                  <div class="media-body">
                    <div>
                      <p>Declined 842.24 VakaCoin</p>
                    </div><!-- d-flex -->
                    <span>Yesterday</span>
                  </div>
                </div><!-- media -->
              </a>
              <div class="dropdown-footer">
                <a href="/account"><i class="fa fa-angle-down"></i> Show All Recent</a>
              </div>
            </div><!-- media-list -->
          </div><!-- dropdown-menu -->
        </div>
        <div class="dropdown noti">
          <a href="#" class="nav-link pd-x-7 pos-relative tx-info" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell-o tx-18 t-7"></i>
            <!-- start: if statement -->
            <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
            <!-- end: if statement -->
          </a>
          <div class="dropdown-menu dropdown-menu-header" x-placement="bottom-start" style="position: absolute; transform: translate3d(-83px, 52px, 0px); top: 0px; left: 0px; will-change: transform;">
            <div class="dropdown-menu-label">
              <label>Notifications</label>
              <a href="">Mark All as Read</a>
            </div><!-- d-flex -->

            <div class="media-list noti-top">
              <!-- loop starts here -->
              <a href="/activity" class="media-list-link read">
                <div class="media">
                  <div class="noti-icon">
                    <i class="icon ion-iphone"></i>
                  </div>
                  <div class="media-body">
                    <p class="noti-text"><strong>Login from Firefox Web on mobile</strong></p>
                    <span>October 03, 2017 8:45am</span>
                  </div>
                </div><!-- media -->
              </a>
              <!-- loop ends here -->
              <a href="/activity" class="media-list-link read">
                <div class="media">
                  <div class="noti-icon">
                    <i class="icon ion-images"></i>
                  </div>
                  <div class="media-body">
                    <p class="noti-text"><strong>Update profile picture</strong></p>
                    <span>October 02, 2017 12:44am</span>
                  </div>
                </div><!-- media -->
              </a>
              <a href="/activity" class="media-list-link read">
                <div class="media">
                  <div class="noti-icon">
                    <i class="icon ion-locked"></i>
                  </div>
                  <div class="media-body">
                    <p class="noti-text"><strong>Change your password successfully</strong></p>
                    <span>October 01, 2017 10:20pm</span>
                  </div>
                </div><!-- media -->
              </a>
              <a href="/activity" class="media-list-link read">
                <div class="media">
                  <div class="noti-icon">
                    <i class="icon ion-person"></i>
                  </div>
                  <div class="media-body">
                    <p class="noti-text"><strong>Update your information</strong></p>
                    <span>October 01, 2017 6:08pm</span>
                  </div>
                </div><!-- media -->
              </a>
              <div class="dropdown-footer">
                <a href="/activity"><i class="fa fa-angle-down"></i> Show All Notifications</a>
              </div>
            </div><!-- media-list -->
          </div><!-- dropdown-menu -->
        </div>
        <loading-component [hidden]="mAccountSerive.isGet === true"></loading-component>
        <div class="dropdown" dropdown [hidden]="mAccountSerive.isGet === false">
          <a class="nav-link nav-link-profile" data-toggle="dropdown" dropdownToggle>
            <span class="logged-name hidden-md-down">{{mAccount.firstName}}</span>
            <img [src]="mAccount.avatar" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-250" *dropdownMenu>
            <div class="tx-center">
              <a routerLink="/profile"><img [src]="mAccount.avatar" class="wd-80
                  rounded-circle" alt=""></a>
              <h6 class="logged-fullname">{{mAccount.fullName}}</h6>
              <p>{{mAccount.email}}</p>
            </div>
            <hr>
            <ul class="list-unstyled user-profile-nav">
              <li><a routerLink="/profile"><i class="icon ion-ios-person"></i>
                  Profile</a></li>
              <li><a routerLink="/security"><i class="icon ion-ios-gear"></i>
                  Settings</a></li>
              <li><a routerLink="/support"><i class="icon ion-ios-download"></i>
                  Contact Support</a></li>
              <li><a routerLink="/logout"><i class="icon ion-power"></i> Sign
                  Out</a></li>
              <li><a routerLink="/invite" class="bg-green pd-x-30 pd-y-11
                  tx-invite tx-bold tx-14 fl-right tx-white"><i
                    class="fa fa-user mg-r-5"></i>Get
                  Free Coin for Inviting People to VakaPay!</a>
              </li>
            </ul>
          </div>
          <!-- dropdown-menu -->
        </div>
        <!-- dropdown -->
      </nav>
    </div>
    <!-- br-header-right -->
  </div>
</div>
<div class="ht-md-60 wd-200 wd-md-auto bg-white pd-y-20 pd-md-y-0 mg-t-60
  d-md-flex align-items-center justify-content-center hidden-mob">
  <div class="menu">
    <div id="menu" class="col-sm-12">
      <div id="menu-web">
        <ul>
          <li class="menu1">
            <a routerLink="/dashboard" routerLinkActive="active" class="menu-link">
              <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
              <span class="menu-item-label">Dashboard</span>
            </a>
          </li>
          <li class="menu1">
            <a routerLink="/account" routerLinkActive="active" class="menu-link">
              <i class="menu-item-icon icon ion-ios-person-outline tx-24"></i>
              <span class="menu-item-label">Account</span>
            </a>
          </li>
          <li class="menu1">
            <a class="menu-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="menu-item-icon icon ion-ios-briefcase-outline tx-24"></i>
              <span class="menu-item-label">Tools </span><i class="fa
                fa-caret-down pd-l-5"></i>
            </a>
            <ul class="dropdown-content">
              <li class="menu2"><a routerLink="/addresses" routerLinkActive="active"> <i class="menu-item-icon icon fa
                    fa-address-card-o mg-r-5"></i>
                  Addresses</a></li>
              <li class="menu2"><a routerLink="/reports" routerLinkActive="active"><i class="menu-item-icon icon fa
                    fa-book mg-r-5"></i>Reports</a></li>
            </ul>
          </li>
          <li class="menu1">
            <a class="menu-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
              <span class="menu-item-label">Setting </span> <i class="fa
                fa-caret-down pd-l-5"></i>
              <ul class="dropdown-content">
                <li class="menu2"><a routerLink="/profile" routerLinkActive="active"> <i class="menu-item-icon icon fa
                      fa-address-book mg-r-5"></i>
                    My Profile</a></li>
                <li class="menu2"><a routerLink="/preferences" routerLinkActive="active"> <i class="menu-item-icon icon fa
                      fa fa-cogs mg-r-5"></i>
                    Preferences</a></li>
                <li class="menu2"><a routerLink="/security" routerLinkActive="active"> <i class="menu-item-icon icon fa
                      fa fa-lock mg-r-5"></i>
                    Security</a></li>
                <li class="menu2"><a routerLink="/activity" routerLinkActive="active"> <i class="menu-item-icon icon fa
                      fa-calendar-check-o mg-r-5"></i>
                    Your Activity</a></li>
                <li class="menu2"><a routerLink="/api" routerLinkActive="active"> <i class="menu-item-icon icon fa
                      fa-key mg-r-5"></i>
                    API Access</a></li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>