<div class="bg-white rounded overflow-hidden no-padding h-fix pd-b-30">
  <div class="table-content">
    <div class="col-md-4 col-sm-8 col-xs-12">
      <h6 class="br-section-label">Your Portfolio</h6>
    </div>
    <div class="col-md-12 col-sm-4 col-xs-12">
      <div [hidden]="portfolio && portfolio.length > 0">Data not found</div>
      <mat-tab-group [hidden]="!portfolio || portfolio.length === 0">
        <h6 class="br-section-label">Your Portfolio</h6>
        <mat-tab label="List" style="float:right!important;">
          <div class="col-xs-12">
            <div class="bd-gray-300 table-responsive table-recent">
              <table class="table table-hover mg-b-0 table-fix">
                <tbody>
                  <tr *ngFor="let portfolio_ele of portfolio" data-toggle="modal" data-target="#modaldemo1">
                    <td width="20%" class="hidden-mob">
                      <img src="{{portfolio_ele.iconUrl}}" height="42" width="42">
                    </td>
                    <td width="20%" class="tx-left">
                      <p class="mg-b-0 tx-inverse tx-medium tx-btc">{{portfolio_ele.networkName}}</p>
                    </td>
                    <td width="40%" class="tx-center hidden-mob">
                      <p class="mg-b-0 tx-inverse tx-medium">{{portfolio_ele.percent}}%</p>
                    </td>
                    <td width="40%" class="tx-right">
                      <p class="mg-b-0 tx-inverse tx-medium">{{portfolio_ele.amount}}</p>
                    </td>
                    <td width="30%" class="tx-right">
                      <span class="d-block tx-13 tx-grey">{{portfolio_ele.value}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><!-- bd -->
          </div>
        </mat-tab>
        <mat-tab label="Chart" style="float:right!important;">
          <div style="display: block">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>