<div class="bg-white rounded overflow-hidden no-padding h-fix pd-b-30">
  <div class="table-content">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <h6 class="br-section-label">Your Portfolio</h6>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <ul class="nav nav-tabs nav-tabs-style-1 nav-justified tx-13" role="tablist">
        <li class="nav-item">
          <a class="nav-link pd-y-10 active" data-toggle="tab" href="#tabExtended" role="tab">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pd-y-10" data-toggle="tab" href="#tabRegular" role="tab">List</a>
        </li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content pd-t-60">
      <div class="tab-pane" id="tabRegular" role="tabpanel">
        <div class="bd-gray-300 table-responsive pd-t-5">
          <table class="table table-hover mg-b-0">
            <tbody>
              <tr>
                <td><i><img src="assets//images/icons/icon-vkc.svg" alt=""></i>VakaCoin</td>
                <td class="minper">
                  <div class="progress">
                    <div class="progress-bar cl-vkc wd-70p" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                      aria-valuemax="100">70%</div>
                  </div>
                </td>
                <td>0.0000 VKC</td>
                <td>$0.00</td>
              </tr>
              <tr>
                <td><i><img src="assets//images/icons/icon-btc.svg" alt=""></i>BitCoin</td>
                <td class="minper">
                  <div class="progress">
                    <div class="progress-bar cl-btc wd-30p" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                      aria-valuemax="100">30%</div>
                  </div>
                </td>
                <td>0.0000 BTC</td>
                <td>$0.00</td>
              </tr>
              <tr>
                <td><i><img src="assets//images/icons/icon-eth.svg" alt=""></i>Ethereum</td>
                <td class="minper">
                  <div class="progress">
                    <div class="progress-bar cl-eth wd-0p" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                      aria-valuemax="100">0%</div>
                  </div>
                </td>
                <td>0.0000 ETH</td>
                <td>$0.00</td>
              </tr>
              <tr>
                <td><i><img src="assets//images/icons/icon-eos.svg" alt=""></i>EOS</td>
                <td class="minper">
                  <div class="progress">
                    <div class="progress-bar cl-eos wd-0p" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                      aria-valuemax="100">0%</div>
                  </div>
                </td>
                <td>0.0000 EOS</td>
                <td>$0.00</td>
              </tr>
            </tbody>
          </table>
        </div><!-- bd -->
        <hr style="margin-top:0;">
        <h6 style="text-align:center;">Total Balance = $251.34</h6>
      </div>
      <div class="tab-pane active" id="tabExtended" role="tabpanel">
        <div class="">
          <div class="col-md-7 col-sm-12 chart mg-b-20">
            <h6 class="port">$2451,215</h6>
            <img src="assets//images/backgrounds/chart3.png" alt="">
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="chart-info">
              <div class="percent">
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-vkc progress-bar-xs wd-25p" role="progressbar" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-vkc mg-b-0">VakaCoin</h6>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-vkc mg-b-0 tx-right">25%</h6>
                </div>
                <span class="d-block tx-14">251.21 VKC</span>
              </div>
              <div class="percent mg-t-20">
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-eth progress-bar-xs wd-75p" role="progressbar" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-eth mg-b-0">Ethereum</h6>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-eth mg-b-0 tx-right">75%</h6>
                </div>
                <span class="d-block tx-14">521,243 ETH</span>
              </div>
              <div class="percent mg-t-20">
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-btc progress-bar-xs wd-0p" role="progressbar" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-btc mg-b-0">BitCoin</h6>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-btc mg-b-0 tx-right">0%</h6>
                </div>
                <span class="d-block tx-14">0 BTC</span>
              </div>
              <div class="percent mg-t-20">
                <div class="progress mg-b-10">
                  <div class="progress-bar bg-eth progress-bar-xs wd-0p" role="progressbar" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-eos mg-b-0">EOS</h6>
                </div>
                <div class="width-half mob">
                  <h6 class="tx-eos mg-b-0 tx-right">0%</h6>
                </div>
                <span class="d-block tx-14">0 EOS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>