<div class="col-xl-12 bg-white pd-30 rounded mg-t-20 tab-pane">

  <div class="row-sm">
    <div class="width-half">
      <h6 class="br-section-label tx-green"><i class="fa fa-mobile tx-20"></i>
        My OAuth2 Applications</h6>
    </div>
    <div class="width-half">
      <a href="oauth2.html" class="btn addnew bg-green"> + New OAuth2
        Application</a>
    </div>
  </div>
  <div class="clear-both"></div>
  <hr>
  <h5 class="dont mg-t-20"><i class="fa fa-info-circle tx-medium"></i> You
    haven't created any OAuth2
    applications
    yet.
  </h5>
  <h6 class="grey tx-left tx-14">Build applications for others using the VakaPay
    API.</h6>
  <div class="bd bd-gray-300 table-responsive table-add">
    <table class="table table-hover mg-b-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Redirect URLs</th>
          <th>Num Users</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-add-body">
        <tr>
          <td>Vaka</td>
          <td>https://jdcoinhk.com</td>
          <td>8</td>
          <td class="tx-right">
            <a href="oauth2.html"><span class="btn btn-secondary verified"><i
                  class="fa fa-pencil tx-13 tx-white"></i>
                Edit</span></a>
            <span class="btn btn-secondary verified" data-toggle="modal"
              data-target="#modaldemo5"><i class="fa fa-trash tx-13 tx-white"></i>
              Delete</span>
          </td>
        </tr>
        <tr>
          <td>Vaka</td>
          <td>https://jdcoinhk.com</td>
          <td>2</td>
          <td class="tx-right">
            <a href="oauth2.html"><span class="btn btn-secondary verified"><i
                  class="fa fa-pencil tx-13 tx-white"></i>
                Edit</span></a>
            <span class="btn btn-secondary verified" data-toggle="modal"
              data-target="#modaldemo5"><i class="fa fa-trash tx-13 tx-white"></i>
              Delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- bd -->
  <div class="ht-80 d-flex align-items-center justify-content-center mg-t-20">
    <ul class="pagination pagination-basic pagination-rounded mg-b-0">
      <li class="page-item hidden-xs-down">
        <a class="page-link" href="#" aria-label="First"><i class="fa
            fa-angle-double-left"></i></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous"><i class="fa
            fa-angle-left"></i></a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item hidden-xs-down"><a class="page-link" href="#">3</a></li>
      <li class="page-item hidden-xs-down"><a class="page-link" href="#">4</a></li>
      <li class="page-item disabled"><span class="page-link">...</span></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next"><i class="fa
            fa-angle-right"></i></a>
      </li>
      <li class="page-item hidden-xs-down">
        <a class="page-link" href="#" aria-label="Last"><i class="fa
            fa-angle-double-right"></i></a>
      </li>
    </ul>
  </div>
</div>