<div class="br-profile">
  <footer class="br-footer">
      <div class="footer-left">
          <div>Copyright © 2018 <a href="#" class="copyright">VakaPay</a>. All Rights Reserved.</div>
      </div>
      <div class="footer-right">
          <div class="link-bottom mg-r-15">
              <a href="#">Home</a>
              <a href="#">Contact</a>
              <a href="#">Support</a>
          </div>
          <div class="dropdown">
              <a href="" class="tx-gray-800 d-inline-block" data-toggle="dropdown">
                  <div class="ht-40 pd-x-20 bd-l d-flex align-items-center justify-content-center">
                      <span class="mg-r-10 tx-13 tx-medium">English</span>
                      <i class="fa fa-angle-down mg-l-10"></i>
                  </div>
              </a>
              <div class="dropdown-menu pd-10">
                  <nav class="nav nav-style-1 flex-column">
                      <a href="" class="nav-link"> English</a>
                      <a href="" class="nav-link"> Vietnamese</a>
                      <a href="" class="nav-link"> Japanese</a>
                  </nav>
              </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
      </div>
  </footer>
</div>