/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'angular2-toaster/toaster.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
/**modal angular */

@import "~ngx-smart-modal/ngx-smart-modal.css";
/**custom css */

@import '/assets/css/bracket.css';
@import '/assets/css/new.css';
.container .mat-button-wrapper {
  font-size: 13px !important;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-header-row {
    display: none;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  mat-cell:first-of-type {
    padding-left: 0 !important;
  }
}

#activity .mat-tab-label {
  height: 100% !important;
  padding-left: 0 !important;
}

#activity .mat-tab-group {
  max-width: 100%;
}

#activity .mat-tab-list {
  max-width: 100%;
}

#activity .mat-ink-bar {
  visibility: hidden !important;
}