<div class="col-xl-12 bg-white pd-30 mg-t-20 rounded">
  <div class="row-sm">
    <div class="width-half">
      <h6 class="br-section-label tx-green"><i class="fa fa-bell-o"></i>
        API Version and Notifications</h6>
    </div>
  </div>
  <div class="clear-both"></div>
  <hr>
  <h6 class="grey tx-left tx-14">API version is generally passed as a
    CB-VERSION header. If the API version
    is
    omitted,
    the version displayed below will be used. Learn more about API
    versioning. Learn more about API
    versioning.
  </h6>
  <h6 class="grey tx-left tx-14">Notifications allow you to subscribe
    to updates for your OAuth application
    or
    API
    key. Since notifications are delivered via webhooks, they always
    correspond to the API version
    displayed
    below.
    Before upgrading your service, ensure that your application is
    ready to accept the latest notification
    version.
    Learn more about notifications.</h6>
  <h5 class="dont mg-t-20"><i class="fa fa-info-circle tx-medium
                mg-r-5"></i>API Version: 2018-09-06 <span class="btn btn-info
                verified">You're
      up-to-date
    </span></h5>
</div>