<span class="btn btn-secondary verified" (click)="onShowModal()">
  <i class="fa fa-eye tx-13 tx-white"></i> Show
</span>
<ngx-smart-modal #modalShowVerify [identifier]="'modalShowVerify'">
  <form class="modal-content bd-0 tx-14">
    <div class="modal-header pd-y-20 pd-x-25">
      <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">
        <span>Show</span> API Key </h6> {{service.currentId}}
    </div>
    <div class="modal-body pd-25">
      <div class="row">
        <label class="col-sm-12 form-control-label">
          Enter the 2-step verification code provided by your authen app:
          <i class="tx-danger">*</i>
        </label>
        <div class="col-sm-12 mg-t-10 mg-sm-t-0">
          <div class="input-group sms">
            <span class="input-group-addon"><i class="fa fa-phone tx-16 lh-0
                op-6"></i></span>
            <input #code (keyup)="onCode($event)" type="text"
              class="form-control fc-outline-white half" maxlength="6"
              placeholder="000000">
          </div>
          <span class="resend">
            <message-error-input [message]='messageErrorCode'></message-error-input>
            <br>
          </span>
        </div>
      </div><!-- row -->
    </div>
    <div class="modal-footer step">
      <button (click)="cancel()" type="button" class="btn btn-secondary tx-11
        tx-uppercase pd-y-12 pd-x-25
        tx-mont tx-medium">
        Cancel
      </button>
      <button (click)="verify()" [disabled]="!isValid||isLoading" class="btn
        bg-green tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">
        + Verify
        <loading-button [isLoading]='isLoading'></loading-button>
      </button>
    </div>
  </form>
</ngx-smart-modal>
<ngx-smart-modal #modalShow [identifier]="'modalShow'">
  <form class="modal-content bd-0 tx-14">
    <div class="modal-header pd-y-20 pd-x-25">
      <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">API Key Details</h6>
    </div>
    <div class="modal-body pd-x-20 pd-y-5">
      <h6 class="grey tx-14">NOTE: Please store these credentials in a safe
        place. For your protection, we will
        not
        show
        them again. If you misplace your API key, you should delete this API key
        and generate a new one.</h6>
      <div class="col-sm-12 mg-t-30 mg-sm-t-0 mg-b-20">
        <div class="form-layout-6">
          <div class="row no-gutters">
            <div class="col-4">
              API Key
            </div><!-- col-4 -->
            <div class="col-8">
              {{apiKey.keyApi}}
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-4">
              API Secret
            </div><!-- col-4 -->
            <div class="col-8">
              {{apiKey.secret}}
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-4">
              Created at
            </div><!-- col-4 -->
            <div class="col-8">
              {{apiKey._createdAt}}
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-4">
              Last updated at
            </div><!-- col-4 -->
            <div class="col-8">
              {{apiKey._updatedAt}}
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters">
            <div class="col-4">
              Status
            </div><!-- col-4 -->
            <div class="col-8">
              <span class="btn btn-info verified"
                [hidden]="apiKey.status === 0">
                Enabled
              </span>
              <span class="btn btn-warning verified"
                [hidden]="apiKey.status === 1">
                Disabled
              </span>
            </div><!-- col-8 -->
          </div><!-- row -->
        </div>
      </div>
    </div>
  </form>
</ngx-smart-modal>