<div class="d-flex align-items-center justify-content-center ht-100v">
  <img src="/assets/images/backgrounds/bg-signin.jpg" class="wd-100p ht-100p object-fit-cover" alt="">
  <div class="overlay-body d-flex align-items-center justify-content-center">
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <app-header-authenticate></app-header-authenticate>
      </div>
    </div>
  <div class="login-wrapper wd-480 wd-xs-350 pd-25 pd-xs-40 pd-t-20 rounded bd bd-white-2 bg-white">
    <div class="signin-logo tx-center tx-24 tx-bold tx-grey">Verify your email</div>
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h5 class="check tx-14 tx-green">We sent a verification email to <b>test@gmail.com</b>. Click the link inside to get
      started!</h5>
    <hr>
    <div class="mg-t-20 tx-center">Email didn't arrive? <a href="#" class="tx-info">Re-send now!</a></div>
  </div><!-- login-wrapper -->
  </div><!-- overlay-body -->
</div><!-- d-flex -->