<!-- ########## START: MAIN PANEL ########## -->
<div class="br-profile-page">

  <div class="card shadow-base bd-0 rounded-0 widget-4">
    <div class="card-header ht-75">
    </div><!-- card-header -->
    <div class="card-body">
      <div class="card-profile-img">
        <img [src]="mAccount.avatar" alt="">
      </div><!-- card-profile-img -->
      <h4 class="tx-normal tx-roboto tx-white">{{mAccount.fullName}}</h4>
      <p class="mg-b-25">{{mAccount.email}}</p>
    </div><!-- card-body -->
  </div><!-- card -->
  <div class="br-section-wrapper">
    <div class="row mg-t-20">
      <div class="col-xl-6">
        <form class="form-layout form-layout-5">
          <h6 class="br-section-label">Personal Details</h6>
          <hr>
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> Street address 1:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <input type="text" class="form-control" placeholder="Street address" (keyup)="onStreetAddress1($event)">
            </div>
          </div>
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> Street address 2:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <input type="text" class="form-control" placeholder="Street address">
            </div>
          </div>
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> City:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <input type="text" class="form-control" placeholder="City">
            </div>
          </div>
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> Postal code:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <input type="number" class="form-control" placeholder="Postal Code">
            </div>
          </div>
          <!-- row -->
          <div class="row mg-t-20 mg-x-0">
            <div class="col-sm-8 mg-l-auto">
              <div class="form-layout-footer">
                <button class="btn bg-green mg-t-5" type="submit">Save</button>
                <button class="btn btn-secondary mg-t-5" type="reset">Reset</button>
              </div><!-- form-layout-footer -->
            </div><!-- col-8 -->
          </div>
          <hr>
          <upload-image-profile [mAccount]='mAccount'></upload-image-profile>          
        </form><!-- form-layout -->
      </div><!-- col-6 -->
      <div class="col-xl-6 mg-t-20 mg-xl-t-0">
        <div class="form-layout form-layout-4">
          <h6 class="br-section-label">User Profile</h6>
          <hr>
          <div class="row mg-x-0 mg-t-20">
            <label class="col-sm-4 form-control-label"> Legal Name:</label>
            <div class="col-sm-8 mg-t-10 mg-sfile.name-t-0">
              <h6>{{mAccount.fullName}}</h6>
            </div>
          </div><!-- row -->
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> Date of birth:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <h6>{{mAccount.birthday}}</h6>
            </div>
          </div>
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> Email:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <h6>{{mAccount.email}}</h6>
            </div>
          </div>
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> Phone Number:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <h6>{{mAccount.phoneNumber}}</h6>
            </div>
          </div>
          <div class="row mg-t-20 mg-x-0">
            <label class="col-sm-4 form-control-label"> Country:</label>
            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
              <h6>{{mAccount.country}}</h6>
            </div>
          </div>
          <!-- row -->
        </div><!-- form-layout -->
      </div><!-- col-6 -->
    </div><!-- row -->
  </div><!-- br-section-wrapper -->
</div><!-- br-mainpanel -->