<div class="br-pagebody">
  <div id="activity" class="row row-sm bg-white rounded">
    <div class="col-xl-12">
      <div class="form-layout">
        <div class="row-sm">
          <div class="width-half">
            <h6 class="br-section-label tx-green"><i class="fa
                fa-calendar-check-o"></i> Active Sessions</h6>
            <p class="br-section-text">
              You can manage your active sessions like web sessions, account
              activity, ... here!
            </p>
          </div>
          <div class="mg-t-10 mg-sm-t-0 hidden-web">
            <ng-select [(ngModel)]="selectedIndex">
              <!-- <ng-option [value]="0">Web Sessions</ng-option> -->
              <ng-option [value]="0">Device History</ng-option>
              <ng-option [value]="1">Account Activity</ng-option>
              <ng-option [value]="2">Third-Party App</ng-option>
            </ng-select>
          </div>
          <div class="clear-both"></div>
        </div>
        <div class="clear-both"></div>
        <div class="nav" role="tablist">
          <mat-tab-group
            [selectedIndex]="selectedIndex"
            (selectedIndexChange)="changeTab($event)"
            [disableRipple]="true">
            <!-- <mat-tab>
              <ng-template mat-tab-label>
                <div class="d-table-cell mg-t-10 hidden-mob">
                  <div class="card">
                    <div class="bg-green overflow-hidden">
                      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="ion ion-earth tx-60 lh-0 tx-white-8"></i>
                        <div class="mg-l-20">
                          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold
                            tx-uppercase tx-white-8 mg-b-10">Active
                            Sessions</p>
                          <p class="tx-20 tx-white tx-lato tx-bold mg-b-0 lh-1">Web
                            Sessions</p>
                          <span class="tx-10 tx-roboto tx-white-8">Currently
                            Signed in to your account</span>
                        </div>
                      </div>
                      <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg
                          width="315" height="50">
                          <g>
                            <path
                              d="M0,25Q22.75,19.291666666666664,26.25,19.374999999999996C31.5,19.499999999999996,47.25,25.0625,52.5,26.25S73.5,30.875,78.75,31.25S99.75,30.625,105,30S126,24.25,131.25,25S152.25,35.625,157.5,37.5S178.5,43.75,183.75,43.75S204.75,38.4375,210,37.5S231,35.3125,236.25,34.375S257.25,27.8125,262.5,28.125S283.5,37.8125,288.75,37.5Q292.25,37.291666666666664,315,25L315,50Q292.25,50,288.75,50C283.5,50,267.75,50,262.5,50S241.5,50,236.25,50S215.25,50,210,50S189,50,183.75,50S162.75,50,157.5,50S136.5,50,131.25,50S110.25,50,105,50S84,50,78.75,50S57.75,50,52.5,50S31.5,50,26.25,50Q22.75,50,0,50Z"
                              class="area" fill="rgba(255,255,255,0.5)"></path>
                          </g>
                        </svg></div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="col-xl-12 tab-content tab-right">
                <app-session-active></app-session-active>
              </div>
            </mat-tab> -->

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="d-table-cell mg-t-10 hidden-mob">
                  <div class="card">
                    <div class="bg-green overflow-hidden">
                      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="ion ion-monitor tx-60 lh-0 tx-white-8"></i>
                        <div class="mg-l-20">
                          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold
                            tx-uppercase tx-white-8 mg-b-10">Active
                            Sessions</p>
                          <p class="tx-20 tx-white tx-lato tx-bold mg-b-0 lh-1">
                            Device History
                          </p>
                          <span class="tx-10 tx-roboto tx-white-8">
                            History Devices allowed to access
                          </span>
                        </div>
                      </div>
                      <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg
                          width="315" height="50">
                          <g>
                            <path
                              d="M0,25Q22.75,19.291666666666664,26.25,19.374999999999996C31.5,19.499999999999996,47.25,25.0625,52.5,26.25S73.5,30.875,78.75,31.25S99.75,30.625,105,30S126,24.25,131.25,25S152.25,35.625,157.5,37.5S178.5,43.75,183.75,43.75S204.75,38.4375,210,37.5S231,35.3125,236.25,34.375S257.25,27.8125,262.5,28.125S283.5,37.8125,288.75,37.5Q292.25,37.291666666666664,315,25L315,50Q292.25,50,288.75,50C283.5,50,267.75,50,262.5,50S241.5,50,236.25,50S215.25,50,210,50S189,50,183.75,50S162.75,50,157.5,50S136.5,50,131.25,50S110.25,50,105,50S84,50,78.75,50S57.75,50,52.5,50S31.5,50,26.25,50Q22.75,50,0,50Z"
                              class="area" fill="rgba(255,255,255,0.5)"></path>
                          </g>
                        </svg></div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="col-xl-12 tab-content tab-right">
                <app-confirmed-devices></app-confirmed-devices>
              </div><!-- br-section-wrapper -->
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="d-table-cell mg-t-10 hidden-mob">
                  <div class="card">
                    <div class="bg-green overflow-hidden">
                      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fa fa-calendar-check-o tx-60 lh-0 tx-white-8"></i>
                        <div class="mg-l-20">
                          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold
                            tx-uppercase tx-white-8 mg-b-10">Active
                            Sessions</p>
                          <p class="tx-20 tx-white tx-lato tx-bold mg-b-0 lh-1">Account
                            Activity</p>
                          <span class="tx-10 tx-roboto tx-white-8">Recent
                            activity on your account</span>
                        </div>
                      </div>
                      <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg
                          width="315" height="50">
                          <g>
                            <path
                              d="M0,25Q22.75,19.291666666666664,26.25,19.374999999999996C31.5,19.499999999999996,47.25,25.0625,52.5,26.25S73.5,30.875,78.75,31.25S99.75,30.625,105,30S126,24.25,131.25,25S152.25,35.625,157.5,37.5S178.5,43.75,183.75,43.75S204.75,38.4375,210,37.5S231,35.3125,236.25,34.375S257.25,27.8125,262.5,28.125S283.5,37.8125,288.75,37.5Q292.25,37.291666666666664,315,25L315,50Q292.25,50,288.75,50C283.5,50,267.75,50,262.5,50S241.5,50,236.25,50S215.25,50,210,50S189,50,183.75,50S162.75,50,157.5,50S136.5,50,131.25,50S110.25,50,105,50S84,50,78.75,50S57.75,50,52.5,50S31.5,50,26.25,50Q22.75,50,0,50Z"
                              class="area" fill="rgba(255,255,255,0.5)"></path>
                          </g>
                        </svg></div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <div class="col-xl-12 tab-content tab-right">
                <app-account-activity></app-account-activity>
              </div><!-- br-section-wrapper -->
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="d-table-cell mg-t-10 hidden-mob">
                  <div class="card">
                    <div class="bg-green overflow-hidden">
                      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fa fa-mobile tx-80 lh-0 tx-white-8"></i>
                        <div class="mg-l-20">
                          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold
                            tx-uppercase tx-white-8 mg-b-10">Active
                            Sessions</p>
                          <p class="tx-20 tx-white tx-lato tx-bold mg-b-0 lh-1">Third-Party
                            App</p>
                          <span class="tx-10 tx-roboto tx-white-8">Manage your
                            3-Party App</span>
                        </div>
                      </div>
                      <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg
                          width="315" height="50">
                          <g>
                            <path
                              d="M0,25Q22.75,19.291666666666664,26.25,19.374999999999996C31.5,19.499999999999996,47.25,25.0625,52.5,26.25S73.5,30.875,78.75,31.25S99.75,30.625,105,30S126,24.25,131.25,25S152.25,35.625,157.5,37.5S178.5,43.75,183.75,43.75S204.75,38.4375,210,37.5S231,35.3125,236.25,34.375S257.25,27.8125,262.5,28.125S283.5,37.8125,288.75,37.5Q292.25,37.291666666666664,315,25L315,50Q292.25,50,288.75,50C283.5,50,267.75,50,262.5,50S241.5,50,236.25,50S215.25,50,210,50S189,50,183.75,50S162.75,50,157.5,50S136.5,50,131.25,50S110.25,50,105,50S84,50,78.75,50S57.75,50,52.5,50S31.5,50,26.25,50Q22.75,50,0,50Z"
                              class="area" fill="rgba(255,255,255,0.5)"></path>
                          </g>
                        </svg></div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <div class="col-xl-12 tab-content tab-right">
                <third-party-app></third-party-app>
              </div><!-- br-section-wrapper -->
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div><!-- col-6 -->
  </div><!-- row -->
</div><!-- br-section-wrapper -->
