<div class="bg-white rounded overflow-hidden no-padding h-fix">
  <div class="pos-rel pd-20 d-inline-block">
    <i [hidden]="!isLoading" class="fa fa-spinner fa-spin" style="font-size: 30px;
      position: absolute;
      top: 20px;
      right:20px;color: #03aba7">
    </i>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h6 class="br-section-label tx-green"><i class="fa fa-line-chart"></i> Price Chart</h6>
    </div>
    <div class="col-12 chart mg-t-20 tab-content">
      
      <mat-tab-group headerPosition="below">
        <mat-tab label="Vakacoin">
            <div style="display: block;">
              <div [chart]="VkcStock" style="height: 270px; width: 600px"></div>
            </div>
        </mat-tab>
        <mat-tab label="Bitcoin">
            <div style="display: block;">
              <div [chart]="BtcStock" style="height: 270px; width: 600px"></div>
            </div>
        </mat-tab>
        <mat-tab label="Ethereum">
            <div style="display: block;">
              <div [chart]="EthStock" style="height: 270px; width: 600px"></div>
            </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>